{% extends "base.html" %}

{% block body %}

<nav class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">HOME</button>
    <button class="nav-link" id="nav-prep-tab" data-bs-toggle="tab" data-bs-target="#nav-prep" type="button" role="tab" aria-controls="nav-prep" aria-selected="false">Data Prep</button>
    <button class="nav-link" id="nav-analysis-tab" data-bs-toggle="tab" data-bs-target="#nav-analysis" type="button" role="tab" aria-controls="nav-analysis" aria-selected="false">Analysis</button>
</nav>


<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-vecs" role="tabpanel" aria-labelledby="nav-vecs-tab">Taco Bell WordCloud</div>
    <div class="tab-pane fade" id="nav-sents" role="tabpanel" aria-labelledby="nav-sents-tab">Sentiment Analysis</div>
</div>

{% endblock %}
